<!DOCTYPE html>
<html lang="zh-hans">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>学生成绩管理系统</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'GradeManage/style_forms.css' %}"
    />
    <script src="{% static 'GradeManage/script.js' %}"></script>
  </head>

  <body>
    <div class="header">
      <h1>学生成绩管理系统</h1>
      <a href="{% url 'GradeManage:index' %}">首页</a>
      <a href="{% url 'GradeManage:student_list' %}" style='color: #3f72af; background-color: #efefef;'>学生信息</a>
      <a href="{% url 'GradeManage:course_list' %}">课程信息</a>
      <a href="{% url 'GradeManage:grade_index' %}">成绩管理</a>
      <a href="{% url 'admin:login' %}" target="_blank">管理登录</a>
    </div>
    <div class="main">
      <div class="side-bar">
        <h2>功能选项</h2>
        <a href="{% url 'GradeManage:student_list' %}">学生信息</a>
        <a href="{% url 'GradeManage:student_create' %}">新建学生</a>
        <a href="{% url 'GradeManage:student_list' %}">查找学生</a>
        <a href='#'>更多功能...</a>
      </div>
      <div class="content">
        <h1>学生信息表</h1>
        <table>
          <thead>
            <tr>
              <th>学号</th>
              <th>姓名</th>
              <th>性别</th>
              <th>出生日期</th>
              <th>专业</th>
              <th>学院</th>
              <th style="width: 145px;">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for student in page_obj %}
            <tr>
              <td>{{ student.student_id }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.gender }}</td>
              <td>{{ student.birth_date }}</td>
              <td>{{ student.major }}</td>
              <td>{{ student.college }}</td>
              <td style='display: flex; flex-direction: row; align-items: center; justify-content: center'>
                <!-- 修改按钮 -->
                <a href="{% url 'GradeManage:student_edit' student.student_id %}" style='color: #3f72af;'>修改</a>
                <p style='color: rgb(90, 90, 90);'>|</p>
                <!-- 删除按钮 -->
                <a href="{% url 'GradeManage:student_delete' student.student_id %}" class="delete-btn" style='color: #e84545;'>删除</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          <div class="button">
            <span>总共 {{ page_obj.paginator.count }} 条 | 第 {{ page_obj.number }} 页 | 共 {{ page_obj.paginator.num_pages}} 页</span>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% else %}
            <a href="#" class="disabled">上一页</a>
            {% endif %} 
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% else %}
            <a href="#" class="disabled">下一页</a>
            {% endif %}
          </div>
          <a class='export' href="{% url 'GradeManage:export_students_to_csv' %}">导出学生信息为CSV</a>
        </div> 
      </div>
    </div>

  </body>
</html>
