<!DOCTYPE html>
<html lang="zh-hans">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>学生成绩管理系统</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'GradeManage/style_forms.css' %}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="{% static 'GradeManage/script.js' %}"></script>
  </head>

  <body>
    <div class="login">
      <div class="login_form">
        <h1>新建学生成绩</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" style="font-size: 1rem; margin-top: 2rem">提交</button>
          <a
            href="{% url 'GradeManage:score_create' %}"
            class="btn btn-secondary"
            >取消</a
          >
        </form>
      </div>
    </div>

    <div class="header">
      <h1>学生成绩管理系统</h1>
      <a href="{% url 'GradeManage:index' %}">首页</a>
      <a href="{% url 'GradeManage:student_list' %}">学生信息</a>
      <a
        href="{% url 'GradeManage:course_list' %}"
        style="color: #3f72af; background-color: #efefef"
        >课程信息</a
      >
      <a href="{% url 'GradeManage:grade_index' %}">成绩管理</a>
      <a href="{% url 'admin:login' %}" target="_blank">管理登录</a>
    </div>
    <div class="main">
      <div class="side-bar"></div>
      <div class="content">
        <h1>学生信息表</h1>
        <table>
          <thead>
            <tr>
              <th>学号</th>
              <th>姓名</th>
              <th>性别</th>
              <th>出生日期</th>
              <th>专业</th>
              <th>学院</th>
              <th style="width: 145px">操作</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        // 初始化Select2
        $(".select2").select2();
      });
    </script>
  </body>
</html>
